.input {
    @apply outline-none;
    @apply border;
    @apply rounded-lg;
    @apply p-1;
    @apply transition;

    &[data-with-error="true"] {
        @apply bg-red-300
    }
}

.create-container {
    transition: all 0.5s ease;
    transform: translate(0, -330px);

    &[data-is-create-mode="true"] {
        transform: translate(0, -660px);
    }
}